1. Simple Structure

In [1]:
# HINTS
# 1. Use pandas.read_json()
# 2. Export to CSV as path: 'destination/json'
simple_json_file_path = "simple_structure.json"

2. Multiple Level

In [6]:
import pandas as pd
import json

# HINTS
# 1. Use pandas json_normalize to read data from record_path
# 2. Export to CSV as path: 'destination/json'

multiple_level_json_file_path = "multiple_level.json"

with open(file=multiple_level_json_file_path, mode="r") as f:
    data = json.load(f)

pd.json_normalize(data=data['students'])

   id    name  math  physics  chemistry
0  A1     Jim    60       66         61
1  A2  Dwight    89       76         51
2  A3   Kevin    79       90         78

In [8]:
data

{'school_name': 'Dunder Miflin',
 'class': 'Year 1',
 'students': [{'id': 'A1',
   'name': 'Jim',
   'math': 60,
   'physics': 66,
   'chemistry': 61},
  {'id': 'A2', 'name': 'Dwight', 'math': 89, 'physics': 76, 'chemistry': 51},
  {'id': 'A3', 'name': 'Kevin', 'math': 79, 'physics': 90, 'chemistry': 78}]}

3. Nested Levels

In [ ]:
# HINTS
# Approach 1: use record_path + meta
# 1. Open the load JSON into dictionary 
# 2. Use pandas json_normalize to read data from record_path
# 3. Export to CSV as path: 'destination/json'
nested_level_json_file_path = "nested_level.json"

In [ ]:
# HINTS
# Approach 2: Read seperately and cross join
# 1. Open the load JSON into dictionary 
# 2. Use pandas json_normalize to read data from record_path
# 3. Export to CSV as path: 'destination/json'